<% provide(:title, 'Periods') %>
<% content_for(:heading, "<i class='fa fa-clock-o'></i> Periods".html_safe) %>

<div class='row'>
  <div class='col-md-7'>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th></th>
        </tr>
      </thead>
    <% @periods.each do |period| %>
      <tbody>
        <tr>
          <td>
            <%= link_to period.period_name, edit_period_path(period) %>
          </td>
          <td>
              <%= period.start_time.strftime("%I:%M %p") %>
          </td>
          <td>
              <%= period.end_time.strftime("%I:%M %p") %>
          </td>
          <td>
            <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_period_path(period) %>
          </td>
      </tr>
      </tbody>
    <% end %>
    </table>

    <%= link_to '<i class="fa fa-plus"></i> New Period'.html_safe, new_period_path %>
  </div>
</div>