<% provide(:title, 'Events') %>
<div class='row'>
  <div class='col-md-8'>
    <h1><i class="fa fa-cubes"></i> Events:</h1>

    <table class='table'>
      <thead>
        <tr>
          <th>Invitee</th>
          <th>Event Type</th>
          <th>Event Date</th>
          <th>Period</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <th><%= event.users.first.full_name %></th>
            <td><%= event.event_type.gsub('_','').capitalize %></td>
            <td><%= event.event_date.strftime('%d/%m/%Y') %></td>
            <td><%= event.period.period_name %></td>
            <td><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_event_path(event) %></td>
            <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <%= link_to '<i class="fa fa-plus"></i> New Event'.html_safe, new_event_path %></br>
    <%= link_to '<i class="fa fa-plus-square"></i> New Bulk Events'.html_safe, events_wizard_path %>
  </div>
</div>
