<!DOCTYPE html>
<html>
<head>
  <title>EdSked</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/navbar' %>

<div class='container'>
  <div class='jumbotron'>
    <%= render partial: 'shared/alerts' %>
    
    <%= yield %>
  </div>
</div>

</body>
</html>