<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <style type="text/css">
  @font-face {
    font-family: 'threedumb';
    src: url('/fonts/3Dumb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'cabinsketchbold';
    src: url('/fonts/CabinSketch-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  </style>

</head>
<body>

<%= render partial: 'shared/navbar' %>

<div class='container'>
  <div class='jumbotron'>
    <%= render partial: 'shared/alerts' %>
    
    <%= yield %>
  </div>
</div>

</body>
</html>